!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title Ruby Off Rails
  %body
    %strong ALTERNATIVE LAYOUT
    %div{ style: "background-color: #ddfddf; height: 500px; width: 500px;"}
      = yield
