%h1= @title

Please check out or table:

%table
  %thead
    %th ID
    %th Name
    %th Date
  %tbody
    - @data.each do |row|
      %tr
        %td= row.id
        %td= row.name
        %td= row.price
