%h1= @title

%p
  Lorem ipsum sim doloreLorem ipsum sim doloreLorem ipsum sim doloreLorem ipsum
  sim doloreLorem ipsum sim doloreLorem ipsum sim doloreLorem ipsum sim
  doloreLorem ipsum sim doloreLorem ipsum sim doloreLorem ipsum sim doloreLorem
  ipsum sim doloreLorem ipsum sim doloreLorem ipsum sim doloreLorem ipsum sim
  doloreLorem ipsum sim doloreLorem ipsum sim dolores
